<app-navbar>

</app-navbar>
<!-- Start Page Header Section -->
	<section class="bg-page-header">
		<div class="page-header-overlay">
			<div class="container">
				<div class="row">
					<div class="page-header">
						<div class="page-title">
							<h2>Course Services</h2>
						</div><!-- .page-title -->
						<div class="page-header-content">
							<ol class="breadcrumb">
								<li><a href="index.html">Home</a></li>
								<li>Services</li>
							</ol>
						</div><!-- .page-header-content -->
					</div><!-- .page-header -->
				</div><!-- .row -->
			</div><!-- .container -->
		</div><!-- .page-header-overlay -->
	</section>

	<!-- Start Service  Section -->
	<section class="services-section p-b-70">
		<div class="container">
			<div class="row">
				<div class="services-option">
					<div class="section-header text-center">
						<h2>what we do</h2>
						<span class="double-border"></span>
						<p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div><!-- .section-header -->
					<div class="row">
						<div class="col-md-4 col-sm-6 col-xs-6">
							<div class="services-box">
								<div class="services-items">
									<i class="pe-7s-headphones"></i>
									<div class="services-content">
										<h4><a href="service_single.html">Quick Help</a></h4>
										<p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									</div>
								</div>
							</div>
						</div><!-- .col-md-4 -->
						<div class="col-md-4 col-sm-6 col-xs-6">
							<div class="services-box">
								<div class="services-items">
									<i class="pe-7s-study"></i>
									<div class="services-content">
										<h4><a href="service_single.html">Scholarship For Students</a></h4>
										<p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									</div>
								</div>
							</div>
						</div><!-- .col-md-4 -->
						<div class="col-md-4 col-sm-6 col-xs-6">
							<div class="services-box">
								<div class="services-items">
									<i class="pe-7s-drawer"></i>
									<div class="services-content">
										<h4><a href="service_single.html">Sports & Events</a></h4>
										<p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									</div>
								</div>
							</div>
						</div><!-- .col-md-4 -->
						<div class="col-md-4 col-sm-6 col-xs-6">
							<div class="services-box">
								<div class="services-items">
									<i class="pe-7s-notebook"></i>
									<div class="services-content">
										<h4><a href="service_single.html">Books and Library</a></h4>
										<p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									</div>
								</div>
							</div>
						</div><!-- .col-md-4 -->
						<div class="col-md-4 col-sm-6 col-xs-6">
							<div class="services-box">
								<div class="services-items">
									<i class="pe-7s-user"></i>
									<div class="services-content">
										<h4><a href="service_single.html">Certified Teachers</a></h4>
										<p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									</div>
								</div>
							</div>
						</div><!-- .col-md-4 -->
						<div class="col-md-4 col-sm-6 col-xs-6">
							<div class="services-box">
								<div class="services-items">
									<i class="pe-7s-coffee"></i>
									<div class="services-content">
										<h4><a href="service_single.html">Food Canteen Provided</a></h4>
										<p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									</div>
								</div>
							</div>
						</div><!-- .col-md-4 -->
					</div><!-- .row -->
				</div><!-- .our-services-option -->
			</div><!-- .row -->
		</div><!-- .container -->
	</section>
	<!-- End Service  Section -->

	<!-- Start Footer Section -->
	<footer>
		<div class="bg-footer-top">
			<div class="container">
				<div class="row">
					<div class="footer-top">
						<div class="row">
							<div class="col-md-3 col-sm-6">
								<div class="footer-widgets">
									<div class="widgets-title">
										<h4>About us</h4>
									</div><!-- .widgets-title -->
									<div class="widgets-content">
										<p>Sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. dolore magna aliquam erat volutpat.</p>
									</div><!-- .widgets-content -->
									<div class="address-box">
										<ul class="address">
											<li>
												<i class="fa fa-home" aria-hidden="true"></i>
												<span>KTM New Road.</span>
											</li>
											<li>
												<i class="fa fa-phone" aria-hidden="true"></i>
												<span>+01-012-345-6789.</span>
											</li>
											<li>
												<i class="fa fa-envelope-o" aria-hidden="true"></i>
												<span>info@example.com</span>
											</li>
											<li>
												<i class="fa fa-globe" aria-hidden="true"></i>
												<span>www.example.com</span>
											</li>
										</ul>
									</div><!-- .address -->
								</div><!-- .footer-widgets -->
							</div><!-- .col-md-3 -->
							<div class="col-md-3 col-sm-6">
								<div class="footer-widgets">
									<div class="widgets-title">
										<h4>Latest News</h4>
									</div><!-- .widgets-title -->
									<ul class="latest-news">
										<li>
											<span class="thumbnail-img">
												<img src="assets/images/posts/small-post-01.jpg" alt="small-bog-img-1" class="img-responsive" />
											</span>
											<div class="thumbnail-content">
												<h5><a href="blog_single.html">Software Secure Solutions...</a></h5>
												<span class="post-date">04 June 2017</span>
											</div><!-- .thumbnail-content -->
										</li>
										<li>
											<span class="thumbnail-img">
												<img src="assets/images/posts/small-post-02.jpg" alt="small-bog-img-2" class="img-responsive" />
											</span>
											<div class="thumbnail-content">
												<h5><a href="blog_single.html">Students | Heriot-Watt University...</a></h5>
												<span class="post-date">28 june 2017</span>
											</div><!-- .thumbnail-content -->
										</li>
										<li>
											<span class="thumbnail-img">
												<img src="assets/images/posts/small-post-03.jpg" alt="small-bog-img-3" class="img-responsive" />
											</span>
											<div class="thumbnail-content">
												<h5><a href="blog_single.html">Lonely Student Being Bullied By...</a></h5>
												<span class="post-date">03 July 2017</span>
											</div><!-- .thumbnail-content -->
										</li>
									</ul>
								</div><!-- .footer-widgets -->
							</div><!-- .col-md-3 -->
							<div class="col-md-3 col-sm-6">
								<div class="footer-widgets useful-link-widget">
									<div class="widgets-title">
										<h4>USEFUL LINKS</h4>
									</div>
									<div class="useful-link-list">
										<ul class="list-unstyled">
											<li><i class="fa fa-angle-right"></i><a href="#">Teachers</a></li>
											<li><i class="fa fa-angle-right"></i><a href="#">Courses</a></li>
											<li><i class="fa fa-angle-right"></i><a href="#">Support</a></li>
											<li><i class="fa fa-angle-right"></i><a href="#">Why Edugate</a></li>
											<li><i class="fa fa-angle-right"></i><a href="#">Social Media</a></li>
											<li><i class="fa fa-angle-right"></i><a href="#">Site Map</a></li>
										</ul>
									</div>
								</div><!-- .footer-widgets -->
							</div><!-- .col-md-3 -->
							<div class="col-md-3 col-sm-6">
								<div class="footer-widgets">
									<div class="widgets-title">
										<h4>Recent Photos</h4>
									</div><!-- .widgets-title -->
									<div class="footer-instagram">
										<a href="#"><img src="assets/images/instagram/instagram-01.jpg" alt="footer-instagram-img-1" /></a>
										<a href="#"><img src="assets/images/instagram/instagram-02.jpg" alt="footer-instagram-img-2" /></a>
										<a href="#"><img src="assets/images/instagram/instagram-03.jpg" alt="footer-instagram-img-3" /></a>
										<a href="#"><img src="assets/images/instagram/instagram-04.jpg" alt="footer-instagram-img-4" /></a>
										<a href="#"><img src="assets/images/instagram/instagram-05.jpg" alt="footer-instagram-img-5" /></a>
										<a href="#"><img src="assets/images/instagram/instagram-06.jpg" alt="footer-instagram-img-6" /></a>
										<a href="#"><img src="assets/images/instagram/instagram-07.jpg" alt="footer-instagram-img-7" /></a>
										<a href="#"><img src="assets/images/instagram/instagram-08.jpg" alt="footer-instagram-img-8" /></a>
										<a href="#"><img src="assets/images/instagram/instagram-09.jpg" alt="footer-instagram-img-9" /></a>
									</div><!-- .footer-instagram -->
								</div><!-- .footer-widgets -->
							</div><!-- .col-md-3 -->
						</div><!-- .row -->
					</div><!-- .footer-top -->
				</div><!-- .row -->
			</div><!-- .container -->
		</div><!-- .bg-footer-top -->

		<div class="bg-footer-bottom">
			<div class="container">
				<div class="row">
					<div class="footer-bottom">
						<div class="copyright-txt">
							<p>Copyright © course 2017. All rights reserved. </p>
						</div><!-- .copyright-txt -->
						<div class="social-box">
							<ul class="social-icon-rounded">
								<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-google" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
							</ul>
						</div><!-- .social-box -->

					</div><!-- .footer-bottom -->
				</div><!-- .row -->
			</div><!-- .container -->
		</div><!-- .bg-footer-bottom -->

	</footer>
	<!-- End Footer Section -->

	<!-- Start Scrolling -->
	<div class="scroll-img"><i class="fa fa-angle-up" aria-hidden="true"></i></div>
