<app-navbar>

</app-navbar>
	<!-- Start Page Header Section -->
	<section class="bg-page-header">
      <div class="page-header-overlay">
        <div class="container">
          <div class="row">
            <div class="page-header">
              <div class="page-title">
                <h2>All Events</h2>
              </div>
              <div class="page-header-content">
                <ol class="breadcrumb">
                  <li><a href="index.html">Home</a></li>
                  <li>Events</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Page Header Section -->
    
  
    
    <!-- Start Upcoming Events Section -->
    <section class="bg-event-box">
      <div class="container">
        <div class="row">
          <div class="event-search-box-option">
            <div class="row">
              <div class="col-md-3">
                <div class="event-box">
                  <div class="form-group">
                    <label for="date">events from</label>
                    <input type="text" class="form-control" id="date" name="date" placeholder="Date">
                  </div><!-- .form-group -->
                </div><!-- .search-box -->
              </div><!-- .col-md-3 -->
              <div class="col-md-3">
                <div class="event-box">
                  <div class="form-group">
                    <label for="search">search</label>
                    <input type="text" class="form-control" id="search" placeholder="Keyword">
                  </div><!-- .form-group -->
                </div><!-- .search-box -->
              </div><!-- .col-md-3 -->
              <div class="col-md-3">
                <div class="event-box">
                  <div class="form-group">
                    <label for="location">location</label>
                    <input type="text" class="form-control" id="location" placeholder="Type to search">
                  </div><!-- .form-group -->
                </div><!-- .search-box -->
              </div><!-- .col-md-3 -->
              <div class="col-md-3">
                <div class="event-box">
                  <a href="#" class="btn btn-default">find events</a>
                </div><!-- .search-box -->
              </div><!-- .col-md-3 -->
            </div><!-- .row -->
          </div><!-- .event-search-box-option -->
        </div><!-- .row -->
      </div><!-- .container -->
    </section>
  
    <section class="bg-upcoming-events">
      <div class="container">
        <div class="row">
          <div class="upcoming-events">
            <div class="row">
              <div class="col-md-6">
                <div class="event-items">
                  <div class="event-img">
                    <a href="event_single.html"><img src="assets/images/events/event-1.jpg" alt="upcoming-events-img-1" class="img-responsive" /></a>
                    <div class="date-box">
                      <h3>24</h3>
                      <h5>july</h5>
                    </div>
                  </div>
                  <div class="events-content">
                    <h3><a href="event_single.html">Technical Course Start From</a></h3>
                    <ul class="meta-post">
                      <li><i class="fa fa-clock-o" aria-hidden="true"></i> 8:30am - 5:30pm</li>
                      <li><i class="flaticon-placeholder"></i> Sahera Tropical Center Dhaka</li>
                    </ul>
                    <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <a href="event_single.html" class="btn btn-default">join now</a>
                  </div>
                </div>
              </div><!-- .col-md-6 -->
  
              <div class="col-md-6">
                <div class="event-items">
                  <div class="event-img">
                    <a href="event_single.html"><img src="assets/images/events/event-2.jpg" alt="upcoming-events-img-2" class="img-responsive" /></a>
                    <div class="date-box">
                      <h3>29</h3>
                      <h5>july</h5>
                    </div>
                  </div>
                  <div class="events-content">
                    <h3><a href="event_single.html">Technical Course Start From</a></h3>
                    <ul class="meta-post">
                      <li><i class="fa fa-clock-o" aria-hidden="true"></i> 8:30am - 5:30pm</li>
                      <li><i class="flaticon-placeholder"></i> Sahera Tropical Center Dhaka</li>
                    </ul>
                    <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <a href="event_single.html" class="btn btn-default">join now</a>
                  </div>
                </div>
              </div><!-- .col-md-6 -->
              <div class="col-md-6">
                <div class="event-items">
                  <div class="event-img">
                    <a href="event_single.html"><img src="assets/images/events/event-3.jpg" alt="upcoming-events-img-3" class="img-responsive" /></a>
                    <div class="date-box">
                      <h3>24</h3>
                      <h5>july</h5>
                    </div>
                  </div>
                  <div class="events-content">
                    <h3><a href="event_single.html">Technical Course Start From</a></h3>
                    <ul class="meta-post">
                      <li><i class="fa fa-clock-o" aria-hidden="true"></i> 8:30am - 5:30pm</li>
                      <li><i class="flaticon-placeholder"></i> Sahera Tropical Center Dhaka</li>
                    </ul>
                    <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <a href="event_single.html" class="btn btn-default">join now</a>
                  </div>
                </div>
              </div><!-- .col-md-6 -->
              <div class="col-md-6">
                <div class="event-items">
                  <div class="event-img">
                    <a href="event_single.html"><img src="assets/images/events/event-4.jpg" alt="upcoming-events-img-4" class="img-responsive" /></a>
                    <div class="date-box">
                      <h3>29</h3>
                      <h5>july</h5>
                    </div>
                  </div>
                  <div class="events-content">
                    <h3><a href="event_single.html">Technical Course Start From</a></h3>
                    <ul class="meta-post">
                      <li><i class="fa fa-clock-o" aria-hidden="true"></i> 8:30am - 5:30pm</li>
                      <li><i class="flaticon-placeholder"></i> Sahera Tropical Center Dhaka</li>
                    </ul>
                    <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <a href="event_single.html" class="btn btn-default">join now</a>
                  </div>
                </div>
              </div><!-- .col-md-6 -->
              <div class="col-md-6">
                <div class="event-items">
                  <div class="event-img">
                    <a href="event_single.html"><img src="assets/images/events/event-5.jpg" alt="upcoming-events-img-5" class="img-responsive" /></a>
                    <div class="date-box">
                      <h3>24</h3>
                      <h5>july</h5>
                    </div>
                  </div>
                  <div class="events-content">
                    <h3><a href="event_single.html">Technical Course Start From</a></h3>
                    <ul class="meta-post">
                      <li><i class="fa fa-clock-o" aria-hidden="true"></i> 8:30am - 5:30pm</li>
                      <li><i class="flaticon-placeholder"></i> Sahera Tropical Center Dhaka</li>
                    </ul>
                    <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <a href="event_single.html" class="btn btn-default">join now</a>
                  </div>
                </div>
              </div><!-- .col-md-6 -->
              <div class="col-md-6">
                <div class="event-items">
                  <div class="event-img">
                    <a href="event_single.html"><img src="assets/images/events/event-6.jpg" alt="upcoming-events-img-6" class="img-responsive" /></a>
                    <div class="date-box">
                      <h3>29</h3>
                      <h5>july</h5>
                    </div>
                  </div>
                  <div class="events-content">
                    <h3><a href="event_single.html">Technical Course Start From</a></h3>
                    <ul class="meta-post">
                      <li><i class="fa fa-clock-o" aria-hidden="true"></i> 8:30am - 5:30pm</li>
                      <li><i class="flaticon-placeholder"></i> Sahera Tropical Center Dhaka</li>
                    </ul>
                    <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <a href="event_single.html" class="btn btn-default">join now</a>
                  </div>
                </div>
              </div><!-- .col-md-6 -->
              <div class="col-md-6">
                <div class="event-items">
                  <div class="event-img">
                    <a href="event_single.html"><img src="assets/images/events/event-7.jpg" alt="upcoming-events-img-7" class="img-responsive" /></a>
                    <div class="date-box">
                      <h3>24</h3>
                      <h5>july</h5>
                    </div>
                  </div>
                  <div class="events-content">
                    <h3><a href="event_single.html">Technical Course Start From</a></h3>
                    <ul class="meta-post">
                      <li><i class="fa fa-clock-o" aria-hidden="true"></i> 8:30am - 5:30pm</li>
                      <li><i class="flaticon-placeholder"></i> Sahera Tropical Center Dhaka</li>
                    </ul>
                    <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <a href="event_single.html" class="btn btn-default">join now</a>
                  </div>
                </div>
              </div><!-- .col-md-6 -->
              <div class="col-md-6">
                <div class="event-items">
                  <div class="event-img">
                    <a href="event_single.html"><img src="assets/images/events/event-8.jpg" alt="upcoming-events-img-8" class="img-responsive" /></a>
                    <div class="date-box">
                      <h3>29</h3>
                      <h5>july</h5>
                    </div>
                  </div>
                  <div class="events-content">
                    <h3><a href="event_single.html">Technical Course Start From</a></h3>
                    <ul class="meta-post">
                      <li><i class="fa fa-clock-o" aria-hidden="true"></i> 8:30am - 5:30pm</li>
                      <li><i class="flaticon-placeholder"></i> Sahera Tropical Center Dhaka</li>
                    </ul>
                    <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <a href="event_single.html" class="btn btn-default">join now</a>
                  </div>
                </div>
              </div><!-- .col-md-6 -->
            </div><!-- .row -->
            
            <div class="pagination-option">
              <nav aria-label="Page navigation">
                <ul class="pagination">
                  <li>
                    <a href="#" aria-label="Previous">
                    <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                    </a>
                  </li>
                  <li><a href="#">1</a></li>
                  <li class="active"><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">...</a></li>
                  <li><a href="#">5</a></li>
                  <li>
                    <a href="#" aria-label="Next">
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div><!-- .upcoming-events -->
        </div><!-- .row -->
      </div><!-- .container -->
    </section>
    <!-- End Upcoming Events Section -->
  
  
    <!-- Start Footer Section -->
    <footer>
      <div class="bg-footer-top">
        <div class="container">
          <div class="row">
            <div class="footer-top">
              <div class="row">
                <div class="col-md-3 col-sm-6">
                  <div class="footer-widgets">
                    <div class="widgets-title">
                      <h4>About us</h4>
                    </div><!-- .widgets-title -->
                    <div class="widgets-content">
                      <p>Sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. dolore magna aliquam erat volutpat.</p>
                    </div><!-- .widgets-content -->
                    <div class="address-box">
                      <ul class="address">
                        <li>
                          <i class="fa fa-home" aria-hidden="true"></i>
                          <span>KTM New Road.</span>
                        </li>
                        <li>
                          <i class="fa fa-phone" aria-hidden="true"></i>
                          <span>+01-012-345-6789.</span>
                        </li>
                        <li>
                          <i class="fa fa-envelope-o" aria-hidden="true"></i>
                          <span>info@example.com</span>
                        </li>
                        <li>
                          <i class="fa fa-globe" aria-hidden="true"></i>
                          <span>www.example.com</span>
                        </li>
                      </ul>
                    </div><!-- .address -->
                  </div><!-- .footer-widgets -->
                </div><!-- .col-md-3 -->
                <div class="col-md-3 col-sm-6">
                  <div class="footer-widgets">
                    <div class="widgets-title">
                      <h4>Latest News</h4>
                    </div><!-- .widgets-title -->
                    <ul class="latest-news">
                      <li>
                        <span class="thumbnail-img">
                          <img src="assets/images/posts/small-post-01.jpg" alt="small-bog-img-1" class="img-responsive" />
                        </span>
                        <div class="thumbnail-content">
                          <h5><a href="blog_single.html">Software Secure Solutions...</a></h5>
                          <span class="post-date">04 June 2017</span>
                        </div><!-- .thumbnail-content -->
                      </li>
                      <li>
                        <span class="thumbnail-img">
                          <img src="assets/images/posts/small-post-02.jpg" alt="small-bog-img-2" class="img-responsive" />
                        </span>
                        <div class="thumbnail-content">
                          <h5><a href="blog_single.html">Students | Heriot-Watt University...</a></h5>
                          <span class="post-date">28 june 2017</span>
                        </div><!-- .thumbnail-content -->
                      </li>
                      <li>
                        <span class="thumbnail-img">
                          <img src="assets/images/posts/small-post-03.jpg" alt="small-bog-img-3" class="img-responsive" />
                        </span>
                        <div class="thumbnail-content">
                          <h5><a href="blog_single.html">Lonely Student Being Bullied By...</a></h5>
                          <span class="post-date">03 July 2017</span>
                        </div><!-- .thumbnail-content -->
                      </li>
                    </ul>
                  </div><!-- .footer-widgets -->
                </div><!-- .col-md-3 -->
                <div class="col-md-3 col-sm-6">
                  <div class="footer-widgets useful-link-widget">
                    <div class="widgets-title">
                      <h4>USEFUL LINKS</h4>
                    </div>
                    <div class="useful-link-list">
                      <ul class="list-unstyled">
                        <li><i class="fa fa-angle-right"></i><a href="#">Teachers</a></li>
                        <li><i class="fa fa-angle-right"></i><a href="#">Courses</a></li>
                        <li><i class="fa fa-angle-right"></i><a href="#">Support</a></li>
                        <li><i class="fa fa-angle-right"></i><a href="#">Why Edugate</a></li>
                        <li><i class="fa fa-angle-right"></i><a href="#">Social Media</a></li>
                        <li><i class="fa fa-angle-right"></i><a href="#">Site Map</a></li>
                      </ul>
                    </div>
                  </div><!-- .footer-widgets -->
                </div><!-- .col-md-3 -->
                <div class="col-md-3 col-sm-6">
                  <div class="footer-widgets">
                    <div class="widgets-title">
                      <h4>Recent Photos</h4>
                    </div><!-- .widgets-title -->
                    <div class="footer-instagram">
                      <a href="#"><img src="assets/images/instagram/instagram-01.jpg" alt="footer-instagram-img-1" /></a>
                      <a href="#"><img src="assets/images/instagram/instagram-02.jpg" alt="footer-instagram-img-2" /></a>
                      <a href="#"><img src="assets/images/instagram/instagram-03.jpg" alt="footer-instagram-img-3" /></a>
                      <a href="#"><img src="assets/images/instagram/instagram-04.jpg" alt="footer-instagram-img-4" /></a>
                      <a href="#"><img src="assets/images/instagram/instagram-05.jpg" alt="footer-instagram-img-5" /></a>
                      <a href="#"><img src="assets/images/instagram/instagram-06.jpg" alt="footer-instagram-img-6" /></a>
                      <a href="#"><img src="assets/images/instagram/instagram-07.jpg" alt="footer-instagram-img-7" /></a>
                      <a href="#"><img src="assets/images/instagram/instagram-08.jpg" alt="footer-instagram-img-8" /></a>
                      <a href="#"><img src="assets/images/instagram/instagram-09.jpg" alt="footer-instagram-img-9" /></a>
                    </div><!-- .footer-instagram -->
                  </div><!-- .footer-widgets -->
                </div><!-- .col-md-3 -->
              </div><!-- .row -->
            </div><!-- .footer-top -->
          </div><!-- .row -->
        </div><!-- .container -->
      </div><!-- .bg-footer-top -->
  
      <div class="bg-footer-bottom">
        <div class="container">
          <div class="row">
            <div class="footer-bottom">
              <div class="copyright-txt">
                <p>Copyright © course 2017. All rights reserved. </p>
              </div><!-- .copyright-txt -->
              <div class="social-box">
                <ul class="social-icon-rounded">
                  <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-google" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                </ul>
              </div><!-- .social-box -->
  
            </div><!-- .footer-bottom -->
          </div><!-- .row -->
        </div><!-- .container -->
      </div><!-- .bg-footer-bottom -->
  
    </footer>
    <!-- End Footer Section -->
  
    <!-- Start Scrolling -->
    <div class="scroll-img"><i class="fa fa-angle-up" aria-hidden="true"></i></div>
  