<app-navbar>

</app-navbar>
<section class="bg-slider-option">
    <div class="slider-option">
        <div id="slider" class="carousel slide wow fadeInDown" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#slider" data-slide-to="0" class="active"></li>
            <li data-target="#slider" data-slide-to="1"></li>
            <li data-target="#slider" data-slide-to="2"></li>
          </ol>
          <!-- Carousel Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="slider-item">
                    <img src="assets/images/slider/slider-img-1.jpg" alt="bg-slider-2">
                    <div class="slider-content-area">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="slider-content">
                                        <h3>The Best Learning Center</h3>
                                        <h2>We can learn anything</h2>
                                        <p>Lorem ipsum dolor sit amet, con ctetur adipiscing elit. Praese</p>
                                        <div class="slider-btn">
                                            <a href="#" class="btn btn-default">Join Now</a>
                                            <a href="#" class="btn btn-default">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- .row -->
                        </div><!-- .container -->
                    </div>
                </div>
            </div><!-- .items -->
            
            <div class="item">
                <div class="slider-item">
                    <img src="assets/images/slider/slider-img-2.jpg" alt="bg-slider-2">
                    <div class="slider-content-area">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="slider-content">
                                        <h3>Your Organization</h3>
                                        <h2>Education and Training</h2>
                                        <p>Create courses and events with custom post</p>
                                        <div class="slider-btn">
                                            <a href="#" class="btn btn-default">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- .row -->
                        </div><!-- .container -->
                    </div>
                </div>
            </div><!-- .items -->
            
            <div class="item">
                <div class="slider-item">
                    <img src="assets/images/slider/slider-img-3.jpg" alt="bg-slider-2">
                    <div class="slider-content-area">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="slider-content">
                                        <h3>Convocation Program</h3>
                                        <h2>Learn The Best Lecturers</h2>
                                        <p>Graduation is getting a academic degree</p>
                                        <div class="slider-btn">
                                            <a href="#" class="btn btn-default">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- .row -->
                        </div><!-- .container -->
                    </div>
                </div>
            </div><!-- .items -->
        </div><!-- .carosoul-inner -->
          <a class="left carousel-control" href="#slider" role="button" data-slide="prev">
            <span class="fa fa-angle-left" aria-hidden="true"></span>
          </a>
          <a class="right carousel-control" href="#slider" role="button" data-slide="next">
            <span class="fa fa-angle-right" aria-hidden="true"></span>
          </a>
        </div>		
    </div>
</section>
<!-- End Slider Section -->

<!-- Start About Section -->
<section class="bg-about">
    <div class="container">
        <div class="row">
            <div class="welcome">
                <div class="row">
                    <div class="col-md-8">
                        <div class="welcome-content p-tb-20">
                            <h2>Welcome To Education course</h2>
                            <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                            <p>Adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            <a href="#" class="btn btn-default">Read More</a>
                        </div>
                    </div><!-- .col-md-8 -->
                    <div class="col-md-4">
                        <div class="call-back">
                            <h4 class="call-back-heading m-b-30">Get us to call you back</h4>
                            <form>
                                <div class="form-group">
                                    <input class="form-control"  name="name" placeholder="Full Name" type="text">
                                </div>
                                <div class="form-group">
                                    <input class="form-control"  name="name" placeholder="Course Of Interest" type="email">
                                </div>
                                <div class="form-group">
                                    <input class="form-control"  name="name" placeholder="Phone No" type="text">
                                </div>
                                <div class="form-group">
                                    <input class="form-control"  name="name" placeholder="E-mail" type="text">
                                </div>
                                <div class="form-group">
                                    <input class="btn btn-default" name="name" value="Submit" type="submit">
                                </div>
                            </form>
                        </div>
                    </div><!-- .col-md-4 -->
                </div>
            </div>
        </div><!-- .row -->
    </div><!-- .container -->
</section>
<!-- End About  Section -->

<!-- Start Course Section -->
<section class="course-content">
    <div class="container">
        <div class="row">
            <div class="our-courses">
                <div class="section-header text-center">
                    <h2>Our Courses</h2>
                    <span class="double-border"></span>
                    <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div><!-- .section-header -->
                
                <div id="filters" class="button-group ">  
                    <button class="button is-checked" data-filter="*">All Courses</button>
                    <button class="button" data-filter=".cat-1">Business</button>
                    <button class="button" data-filter=".cat-2">Technology</button>
                    <button class="button" data-filter=".cat-3">Health</button>
                    <button class="button" data-filter=".cat-4">Other</button>
                </div>
                <div class="course-items">
                    <div class="item cat-1" data-category="transition">
                        <div class="item-inner">
                            <div class="course-img">
                                <div class="course-overlay"></div><!-- .overlay-project -->
                                <img src="assets/images/courses/course-img-1.jpg" alt="recent-project-img-1">
                                <ul class="course-link">
                                    <li class="c-link"><a href="course_single.html"><i class="fa fa-link" aria-hidden="true"></i></a></li>
                                    <li class="course-plus"><a href="assets/images/courses/course-img-1.jpg" data-rel="lightcase:myCollection"><i class="fa fa-search-plus" aria-hidden="true"></i></a></li>
                                </ul>
                            </div><!-- /.portfolio-img -->
                            <div class="our-course-content">
                                <h4><a href="course_single.html">Business and Management</a></h4>
                            </div><!-- .latest-port-content -->
                        </div><!-- .item-inner -->
                    </div><!-- .items -->
                    
                    <div class="item cat-2 " data-category="metalloid">
                        <div class="item-inner">
                            <div class="course-img">
                                <div class="course-overlay"></div><!-- .overlay-project -->
                                <img src="assets/images/courses/course-img-2.jpg" alt="recent-project-img-2">
                                <ul class="course-link">
                                    <li class="c-link"><a href="course_single.html"><i class="fa fa-link" aria-hidden="true"></i></a></li>
                                    <li class="course-plus"><a href="assets/images/courses/course-img-2.jpg" data-rel="lightcase:myCollection"><i class="fa fa-search-plus" aria-hidden="true"></i></a></li>
                                </ul>
                            </div><!-- /.portfolio-img -->
                            <div class="our-course-content">
                                <h4><a href="course_single.html">MSc IT</a></h4>
                            </div><!-- .latest-port-content -->
                        </div><!-- .item-inner -->
                    </div><!-- .items -->
                    
                    <div class="item cat-3 " data-category="post-transition">
                        <div class="item-inner">
                            <div class="course-img">
                                <div class="course-overlay"></div><!-- .overlay-project -->
                                <img src="assets/images/courses/course-img-3.jpg" alt="recent-project-img-3">
                                <ul class="course-link">
                                    <li class="c-link"><a href="course_single.html"><i class="fa fa-link" aria-hidden="true"></i></a></li>
                                    <li class="course-plus"><a href="assets/images/courses/course-img-3.jpg" data-rel="lightcase:myCollection"><i class="fa fa-search-plus" aria-hidden="true"></i></a></li>
                                </ul>
                            </div><!-- /.portfolio-img -->
                            <div class="our-course-content">
                                <h4><a href="course_single.html">MSc Public Health</a></h4>
                            </div><!-- .latest-port-content -->
                        </div><!-- .item-inner -->
                    </div><!-- .items -->
                    
                    <div class="item cat-2" data-category="post-transition">
                        <div class="item-inner">
                            <div class="course-img">
                                <div class="course-overlay"></div><!-- .overlay-project -->
                                <img src="assets/images/courses/course-img-4.jpg" alt="recent-project-img-4">
                                <ul class="course-link">
                                    <li class="c-link"><a href="course_single.html"><i class="fa fa-link" aria-hidden="true"></i></a></li>
                                    <li class="course-plus"><a href="assets/images/courses/course-img-4.jpg" data-rel="lightcase:myCollection"><i class="fa fa-search-plus" aria-hidden="true"></i></a></li>
                                </ul>
                            </div><!-- /.portfolio-img -->
                            <div class="our-course-content">
                                <h4><a href="course_single.html">ACCA Programme</a></h4>
                            </div><!-- .latest-port-content -->
                        </div><!-- .item-inner -->
                    </div><!-- .items -->

                    <div class="item cat-4" data-category="transition">
                        <div class="item-inner">
                            <div class="course-img">
                                <div class="overlay-project"></div><!-- .overlay-project -->
                                <img src="assets/images/courses/course-img-5.jpg" alt="recent-project-img-5">
                                <ul class="course-link">
                                    <li class="c-link"><a href="course_single.html"><i class="fa fa-link" aria-hidden="true"></i></a></li>
                                    <li class="course-plus"><a href="assets/images/courses/course-img-4.jpg" data-rel="lightcase:myCollection"><i class="fa fa-search-plus" aria-hidden="true"></i></a></li>
                                </ul>
                            </div><!-- /.portfolio-img -->
                            <div class="our-course-content">
                                <h4><a href="course_single.html">IELTS Preparatory Courses</a></h4>
                            </div><!-- .latest-port-content -->
                        </div><!-- .item-inner -->
                    </div><!-- .items -->

                    <div class="item cat-1" data-category="alkali">
                        <div class="item-inner">
                            <div class="course-img">
                                <div class="course-overlay"></div><!-- .overlay-project -->
                                <img src="assets/images/courses/course-img-6.jpg" alt="recent-project-img-6">
                                <ul class="course-link">
                                    <li class="c-link"><a href="course_single.html"><i class="fa fa-link" aria-hidden="true"></i></a></li>
                                    <li class="course-plus"><a href="assets/images/courses/course-img-6.jpg" data-rel="lightcase:myCollection"><i class="fa fa-search-plus" aria-hidden="true"></i></a></li>
                                </ul>
                            </div><!-- /.portfolio-img -->
                            <div class="our-course-content">
                                <h4><a href="course_single.html">MBA (Graduate)</a></h4>
                            </div><!-- .latest-port-content -->
                        </div><!-- .item-inner -->
                    </div><!-- .items -->
                </div><!-- .isotope-items -->
                <div class="col-sm-12 col-md-12 m-t-30 text-center">
                    <a class="btn btn-default btn-lg">View All Courses</a>
                </div>
            </div><!-- .recent-project -->
        </div><!-- .row -->
    </div><!-- .container -->
</section>
<!-- End Recent Project Section -->

<!-- Start Video Section -->
<!-- End Video Section -->

<!-- Start Why Chose Section -->
<section class="why-chose">
    <div class="container">
        <div class="row">
            <div class="why-chose-option">
                <div class="section-header text-center">
                    <h2>Why Chose Us</h2>
                    <span class="double-border"></span>
                    <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div><!-- .section-header -->
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-6">
                        <div class="why-chose-box">
                            <div class="why-chose-items">
                                <i class="pe-7s-car"></i>
                                <div class="why-chose-content">
                                    <h4><a href="service_single.html">Transportation</a></h4>
                                    <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    <a href="service_single.html">read more<i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div><!-- .col-md-4 -->

                    <div class="col-md-4 col-sm-6 col-xs-6">
                        <div class="why-chose-box">
                            <div class="why-chose-items">
                                <i class="pe-7s-notebook"></i>
                                <div class="why-chose-content">
                                    <h4><a href="service_single.html">Full and Partial Session</a></h4>
                                    <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    <a href="service_single.html">read more<i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div><!-- .col-md-4 -->

                    <div class="col-md-4 col-sm-6 col-xs-6">
                        <div class="why-chose-box">
                            <div class="why-chose-items">
                                <i class="pe-7s-coffee"></i>
                                <div class="why-chose-content">
                                    <h4><a href="service_single.html">Food Canteen Provided</a></h4>
                                    <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    <a href="service_single.html">read more<i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div><!-- .col-md-4 -->
                </div>
            </div>
        </div><!-- .row -->
    </div><!-- .container -->
</section>
<!-- End Why Chose Section -->

<section class="bg-testimonial-section">
    <div class="testimonial-overlay">
        <div class="container">
            <div class="row">
                <div class="testimonial-option">
                    <div class="section-header text-center">
                        <h2>Testimonials</h2>
                        <span class="double-border"></span>
                        <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div><!-- .section-header -->
                    <div class="testimonial-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="testimonial-content">
                                    <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                </div>
                                <div class="author-details">
                                    <div class="author-img">
                                        <img src="assets/images/avatar/1.jpg" alt="testimonial-author" />
                                    </div>
                                    <div class="author-name">
                                        <h4>John Doe</h4>
                                        <h6>UI/UX Designer</h6>
                                    </div>
                                </div>
                            </div><!-- .swiper-slide -->

                            <div class="swiper-slide">
                                <div class="testimonial-content">
                                    <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                </div>
                                <div class="author-details">
                                    <div class="author-img">
                                        <img src="assets/images/avatar/2.jpg" alt="testimonial-author" />
                                    </div>
                                    <div class="author-name">
                                        <h4>John Doe</h4>
                                        <h6>UI/UX Designer</h6>
                                    </div>
                                </div>
                            </div><!-- .swiper-slide -->

                            <div class="swiper-slide">
                                <div class="testimonial-content">
                                    <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                </div>
                                <div class="author-details">
                                    <div class="author-img">
                                        <img src="assets/images/avatar/3.jpg" alt="testimonial-author" />
                                    </div>
                                    <div class="author-name">
                                        <h4>John Doe</h4>
                                        <h6>UI/UX Designer</h6>
                                    </div>
                                </div>
                            </div><!-- .swiper-slide -->

                            <div class="swiper-slide">
                                <div class="testimonial-content">
                                    <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                </div>
                                <div class="author-details">
                                    <div class="author-img">
                                        <img src="assets/images/avatar/4.jpg" alt="testimonial-author" />
                                    </div>
                                    <div class="author-name">
                                        <h4>John Doe</h4>
                                        <h6>UI/UX Designer</h6>
                                    </div>
                                </div>
                            </div><!-- .swiper-slide -->

                            <div class="swiper-slide">
                                <div class="testimonial-content">
                                    <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                </div>
                                <div class="author-details">
                                    <div class="author-img">
                                        <img src="assets/images/avatar/2.jpg" alt="testimonial-author" />
                                    </div>
                                    <div class="author-name">
                                        <h4>John Doe</h4>
                                        <h6>UI/UX Designer</h6>
                                    </div>
                                </div>
                            </div><!-- .swiper-slide -->

                            <div class="swiper-slide">
                                <div class="testimonial-content">
                                    <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                </div>
                                <div class="author-details">
                                    <div class="author-img">
                                        <img src="assets/images/avatar/4.jpg" alt="testimonial-author" />
                                    </div>
                                    <div class="author-name">
                                        <h4>John Doe</h4>
                                        <h6>UI/UX Designer</h6>
                                    </div>
                                </div>
                            </div><!-- .swiper-slide -->
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .testimonial-overlay -->
</section>
<!-- End Testimonial Section -->

<!-- Start Mission Section -->
<section class="mission">
    <div class="container">
        <div class="row">
            <div class="mission-box">
                <div class="row">
                    <div class="col-md-6">
                        <div class="mission-content p-tb-20 m-b-40">
                            <h2>Mission and Philosophy of Our University</h2>
                            <p>Investigationes demonstraverunt lectores me lius quod ii legnt seapius. Claritas est etiam processs dynamics, qui sequitur mtationem consuetudium lectorum modo typi.</p>
                            <a href="#" class="btn btn-default">Read More</a>
                        </div>
                    </div><!-- col-md-6 -->

                    <div class="col-md-6">
                        <img src="assets/images/courses/course-img-4.jpg" class="img-responsive">
                    </div><!-- col-md-6 -->
                </div>
            </div>
        </div><!-- .row -->
    </div><!-- .container -->
</section>
<!-- End Mission Section -->

<!-- Start Count Section -->
<!-- End Count Section -->


<!-- Start Upcoming Events Section -->
<section class="bg-upcoming-events">
    <div class="container">
        <div class="row">
            <div class="upcoming-events">
                <div class="section-header text-center">
                    <h2>upcoming events</h2>
                    <span class="double-border"></span>
                    <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div><!-- .section-header -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="event-items">
                            <div class="event-img">
                                <a href="event_single.html"><img src="assets/images/events/event-1.jpg" alt="upcoming-events-1" class="img-responsive" /></a>
                                <div class="date-box">
                                    <h3>24</h3>
                                    <h5>july</h5>
                                </div>
                            </div>
                            <div class="events-content">
                                <h3><a href="event_single.html">Technical Course Start From</a></h3>
                                <ul class="meta-post">
                                    <li><i class="fa fa-clock-o" aria-hidden="true"></i> 11:00am - 01:00pm</li>
                                    <li><i class="fa fa-map-marker"></i>KTM New Road</li>
                                </ul>
                                <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                <a href="event_single.html" class="btn btn-default">join now</a>
                            </div>
                        </div>
                    </div><!-- .col-md-6 -->

                    <div class="col-md-6">
                        <div class="event-items">
                            <div class="event-img">
                                <a href="event_single.html"><img src="assets/images/events/event-2.jpg" alt="upcoming-events-2" class="img-responsive" /></a>
                                <div class="date-box">
                                    <h3>29</h3>
                                    <h5>july</h5>
                                </div>
                            </div>
                            <div class="events-content">
                                <h3><a href="event_single.html">Build Website Using WordPress</a></h3>
                                <ul class="meta-post">
                                    <li><i class="fa fa-clock-o" aria-hidden="true"></i> 12:30am - 2:30pm</li>
                                    <li><i class="fa fa-map-marker"></i>KTM New Road</li>
                                </ul>
                                <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                <a href="event_single.html" class="btn btn-default">join now</a>
                            </div>
                        </div>
                    </div><!-- .col-md-6 -->
                </div>
            </div>
        </div><!-- .row -->
    </div><!-- .container -->
</section>
<!-- End Upcoming Events Section -->

<!-- Start Sponsors Section -->
<!-- End Sponsors Section -->

<!-- Start Blog Section -->
<section class="bg-blog-section">
    <div class="container">
        <div class="row">
            <div class="blog-section">
                <div class="section-header text-center">
                    <h2>From Our Blog</h2>
                    <span class="double-border"></span>
                    <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div><!-- .section-header -->
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-6">
                        <div class="blog-items">
                            <div class="blog-img">
                                <a href="blog_single.html"><img src="assets/images/blog/blog-img-1.jpg" alt="blog-img-1" class="img-responsive" /></a>
                            </div>
                            <div class="blog-content-box">
                                <div class="blog-content">
                                    <div class="meta-box">
                                        <ul class="meta-post">
                                            <li><i class="fa fa-calendar" aria-hidden="true"></i> 22.04.2017</li>
                                            <li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i> 24 Like</a></li>
                                            <li><a href="#"><i class="fa fa-commenting-o" aria-hidden="true"></i> 24 Comment</a></li>
                                        </ul>
                                    </div>
                                    <h4><a href="blog_single.html">Graduates & Students</a></h4>
                                    <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                </div>
                            </div>
                        </div>
                    </div><!-- .col-md-4 -->
                    <div class="col-md-4 col-sm-6 col-xs-6">
                        <div class="blog-items">
                            <div class="blog-img">
                                <a href="blog_single.html"><img src="assets/images/blog/blog-img-2.jpg" alt="blog-img-2" class="img-responsive" /></a>
                            </div>
                            <div class="blog-content-box">
                                <div class="blog-content">
                                    <div class="meta-box">
                                        <ul class="meta-post">
                                            <li><i class="fa fa-calendar" aria-hidden="true"></i> 22.04.2017</li>
                                            <li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i> 24 Like</a></li>
                                            <li><a href="#"><i class="fa fa-commenting-o" aria-hidden="true"></i> 24 Comment</a></li>
                                        </ul>
                                    </div>
                                    <h4><a href="blog_single.html">Tips For Combating</a></h4>
                                    <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                </div>
                            </div>
                        </div>
                    </div><!-- .col-md-4 -->
                    <div class="col-md-4 col-sm-6 col-xs-6">
                        <div class="blog-items">
                            <div class="blog-img">
                                <a href="blog_single.html"><img src="assets/images/blog/blog-img-3.jpg" alt="blog-img-3" class="img-responsive" /></a>
                            </div>
                            <div class="blog-content-box">
                                <div class="blog-content">
                                    <div class="meta-box">
                                        <ul class="meta-post">
                                            <li><i class="fa fa-calendar" aria-hidden="true"></i> 22.04.2017</li>
                                            <li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i> 24 Like</a></li>
                                            <li><a href="#"><i class="fa fa-commenting-o" aria-hidden="true"></i> 24 Comment</a></li>
                                        </ul>
                                    </div>
                                    <h4><a href="blog_single.html">Students learning</a></h4>
                                    <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Blog Section -->

<!-- Start Footer Section -->
<footer>
    <div class="bg-footer-top">
        <div class="container">
            <div class="row">
                <div class="footer-top">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="footer-widgets">
                                <div class="widgets-title">
                                    <h4>About us</h4>
                                </div><!-- .widgets-title -->
                                <div class="widgets-content">
                                    <p>Sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. dolore magna aliquam erat volutpat.</p>
                                </div><!-- .widgets-content -->
                                <div class="address-box">
                                    <ul class="address">
                                        <li>
                                            <i class="fa fa-home" aria-hidden="true"></i>
                                            <span>KTM New Road.</span>
                                        </li>
                                        <li>
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                            <span>+01-012-345-6789.</span>
                                        </li>
                                        <li>
                                            <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                            <span>info@example.com</span>
                                        </li>
                                        <li>
                                            <i class="fa fa-globe" aria-hidden="true"></i>
                                                <span>www.example.com</span>
                                        </li>
                                    </ul>
                                </div><!-- .address -->
                            </div><!-- .footer-widgets -->
                        </div><!-- .col-md-3 -->
                        <div class="col-md-3 col-sm-6">
                            <div class="footer-widgets">
                                <div class="widgets-title">
                                    <h4>Latest News</h4>
                                </div><!-- .widgets-title -->
                                <ul class="latest-news">
                                    <li>
                                        <span class="thumbnail-img">
                                            <img src="assets/images/posts/small-post-01.jpg" alt="small-bog-img-1" class="img-responsive" />
                                        </span>
                                        <div class="thumbnail-content">
                                            <h5><a href="blog_single.html">Software Secure Solutions...</a></h5>
                                            <span class="post-date">04 June 2017</span>
                                        </div><!-- .thumbnail-content -->
                                    </li>
                                    <li>
                                        <span class="thumbnail-img">
                                            <img src="assets/images/posts/small-post-02.jpg" alt="small-bog-img-2" class="img-responsive" />
                                        </span>
                                        <div class="thumbnail-content">
                                            <h5><a href="blog_single.html">Students | Heriot-Watt University...</a></h5>
                                            <span class="post-date">28 june 2017</span>
                                        </div><!-- .thumbnail-content -->
                                    </li>
                                    <li>
                                        <span class="thumbnail-img">
                                            <img src="assets/images/posts/small-post-03.jpg" alt="small-bog-img-3" class="img-responsive" />
                                        </span>
                                        <div class="thumbnail-content">
                                            <h5><a href="blog_single.html">Lonely Student Being Bullied By...</a></h5>
                                            <span class="post-date">03 July 2017</span>
                                        </div><!-- .thumbnail-content -->
                                    </li>
                                </ul>
                            </div><!-- .footer-widgets -->
                        </div><!-- .col-md-3 -->
                        <div class="col-md-3 col-sm-6">
                            <div class="footer-widgets useful-link-widget">
                                <div class="widgets-title">
                                    <h4>USEFUL LINKS</h4>
                                </div>
                                <div class="useful-link-list">
                                    <ul class="list-unstyled">
                                        <li><i class="fa fa-angle-right"></i><a href="#">Teachers</a></li>
                                        <li><i class="fa fa-angle-right"></i><a href="#">Courses</a></li>
                                        <li><i class="fa fa-angle-right"></i><a href="#">Support</a></li>
                                        <li><i class="fa fa-angle-right"></i><a href="#">Why Edugate</a></li>
                                        <li><i class="fa fa-angle-right"></i><a href="#">Social Media</a></li>
                                        <li><i class="fa fa-angle-right"></i><a href="#">Site Map</a></li>
                                    </ul>
                                </div>
                            </div><!-- .footer-widgets -->
                        </div><!-- .col-md-3 -->
                        <div class="col-md-3 col-sm-6">
                            <div class="footer-widgets">
                                <div class="widgets-title">
                                    <h4>Recent Photos</h4>
                                </div><!-- .widgets-title -->
                                <div class="footer-instagram">
                                    <a href="#"><img src="assets/images/instagram/instagram-01.jpg" alt="footer-instagram-img-1" /></a>
                                    <a href="#"><img src="assets/images/instagram/instagram-02.jpg" alt="footer-instagram-img-2" /></a>
                                    <a href="#"><img src="assets/images/instagram/instagram-03.jpg" alt="footer-instagram-img-3" /></a>
                                    <a href="#"><img src="assets/images/instagram/instagram-04.jpg" alt="footer-instagram-img-4" /></a>
                                    <a href="#"><img src="assets/images/instagram/instagram-05.jpg" alt="footer-instagram-img-5" /></a>
                                    <a href="#"><img src="assets/images/instagram/instagram-06.jpg" alt="footer-instagram-img-6" /></a>
                                    <a href="#"><img src="assets/images/instagram/instagram-07.jpg" alt="footer-instagram-img-7" /></a>
                                    <a href="#"><img src="assets/images/instagram/instagram-08.jpg" alt="footer-instagram-img-8" /></a>
                                    <a href="#"><img src="assets/images/instagram/instagram-09.jpg" alt="footer-instagram-img-9" /></a>
                                </div><!-- .footer-instagram -->
                            </div><!-- .footer-widgets -->
                        </div><!-- .col-md-3 -->
                    </div><!-- .row -->
                </div><!-- .footer-top -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .bg-footer-top -->
    
    <div class="bg-footer-bottom">
        <div class="container">
            <div class="row">
                <div class="footer-bottom">
                    <div class="copyright-txt">
                        <p>Copyright © course 2017. All rights reserved. </p>
                    </div><!-- .copyright-txt -->
                    <div class="social-box">
                        <ul class="social-icon-rounded">
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-google" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                        </ul>
                    </div><!-- .social-box -->
                    
                </div><!-- .footer-bottom -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .bg-footer-bottom -->
    
</footer>
<!-- End Footer Section -->

<!-- Start Scrolling -->
<div class="scroll-img"><i class="fa fa-angle-up" aria-hidden="true"></i></div>
