<app-navbar>
  
</app-navbar>
<!-- Start Page Header Section -->
<section class="bg-page-header">
  <div class="page-header-overlay">
    <div class="container">
      <div class="row">
        <div class="page-header">
          <div class="page-title">
            <h2>ABOUT US</h2>
          </div>
          <div class="page-header-content">
            <ol class="breadcrumb">
              <li><a href="index.html">Home</a></li>
              <li>About Us</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Start About Section -->
<section class="bg-about">
  <div class="container">
    <div class="row">
      <div class="welcome">
        <div class="row">
          <div class="col-md-8">
            <div class="welcome-content p-tb-20">
              <h2>Welcome To Education course</h2>
              <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
              <p>Adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              <a href="#" class="btn btn-default">Read More</a>
            </div>
          </div><!-- .col-md-8 -->
          <div class="col-md-4">
            <div class="call-back">
              <h4 class="call-back-heading m-b-15">Get us to call you back</h4>
              <form>
                <div class="form-group">
                  <input class="form-control"  name="name" placeholder="Full Name" type="text">
                </div>
                <div class="form-group">
                  <input class="form-control"  name="name" placeholder="Course Of Interest" type="email">
                </div>
                <div class="form-group">
                  <input class="form-control"  name="name" placeholder="Phone No" type="text">
                </div>
                <div class="form-group">
                  <input class="form-control"  name="name" placeholder="E-mail" type="text">
                </div>
                <div class="form-group">
                  <input class="btn btn-default" name="name" value="Submit" type="submit">
                </div>
              </form>
            </div>
          </div><!-- .col-md-4 -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End About  Section -->

<!-- Start Count Section -->
<section class="counter-section">
  <div class="counter-overlay">
    <div class="container">
      <div class="row">
        <div class="counter-option">
          <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-6">
              <div class="counter-items">
                <i class="pe-7s-add-user"></i>
                <span class="counter">5000</span><span>+</span>
                <h4>STUDENTS</h4>
              </div>
            </div><!-- .col-md-3 -->
            <div class="col-md-3 col-sm-6 col-xs-6">
              <div class="counter-items">
                <i class="pe-7s-cash"></i>
                <span class="counter">750</span><span>+</span>
                <h4>Courses</h4>
              </div>
            </div><!-- .col-md-3 -->
            <div class="col-md-3 col-sm-6 col-xs-6">
              <div class="counter-items">
                <i class="pe-7s-global"></i>
                <span class="counter">63</span>
                <h4>COUNTRIES</h4>
              </div>
            </div><!-- .col-md-3 -->
            <div class="col-md-3 col-sm-6 col-xs-6">
              <div class="counter-items">
                <i class="pe-7s-network"></i>
                <span class="counter">1000</span>
                <h4>FACULTIES</h4>
              </div>
            </div><!-- .col-md-3 -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Count Section -->

<!-- Start our teacher Section -->
<section class="teacher-section">
  <div class="container">
    <div class="row">
      <div class="teacher-option">
        <div class="section-header text-center">
          <h2>Certified Teachers</h2>
          <span class="double-border"></span>
          <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-6">
            <div class="teacher-items">
              <div class="teacher-img">
                <img src="assets/images/team/team-1.jpg" alt="volunteers-img-1" class="img-responsive" />
              </div>
              <div class="teacher-content">
                <h4><a href="team_single.html">John Doe</a></h4>
                <p>Founder & CEO</p>
              </div>
              <div class="teacher-social-icon">
                <ul class="social-icon">
                  <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                </ul>
              </div>
            </div>
          </div><!-- .col-md-3 -->
          <div class="col-md-4 col-sm-4 col-xs-6">
            <div class="teacher-items">
              <div class="teacher-img">
                <img src="assets/images/team/team-2.jpg" alt="volunteers-img-1" class="img-responsive" />
              </div>
              <div class="teacher-content">
                <h4><a href="team_single.html">Anni DOE</a></h4>
                <p>Founder & CEO</p>
              </div>
              <div class="teacher-social-icon">
                <ul class="social-icon">
                  <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                </ul>
              </div>
            </div>
          </div><!-- .col-md-3 -->
          <div class="col-md-4 col-sm-4 col-xs-6">
            <div class="teacher-items">
              <div class="teacher-img">
                <img src="assets/images/team/team-3.jpg" alt="volunteers-img-3" class="img-responsive" />
              </div>
              <div class="teacher-content">
                <h4><a href="team_single.html">John Doe</a></h4>
                <p>Founder & CEO</p>
              </div>
              <div class="teacher-social-icon">
                <ul class="social-icon">
                  <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                </ul>
              </div>
            </div>
          </div><!-- .col-md-3 -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End our volunteers Section -->

<!-- Start Blog Section -->

<!-- Start Footer Section -->
<footer>
  <div class="bg-footer-top">
    <div class="container">
      <div class="row">
        <div class="footer-top">
          <div class="row">
            <div class="col-md-3 col-sm-6">
              <div class="footer-widgets">
                <div class="widgets-title">
                  <h4>About us</h4>
                </div><!-- .widgets-title -->
                <div class="widgets-content">
                  <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div><!-- .widgets-content -->
                <div class="address-box">
                  <ul class="address">
                    <li>
                      <i class="fa fa-home" aria-hidden="true"></i>
                      <span>KTM New Road.</span>
                    </li>
                    <li>
                      <i class="fa fa-phone" aria-hidden="true"></i>
                      <span>+01-012-345-6789</span>
                    </li>
                    <li>
                      <i class="fa fa-envelope-o" aria-hidden="true"></i>
                      <span>info@example.com</span>
                    </li>
                    <li>
                      <i class="fa fa-globe" aria-hidden="true"></i>
                      <span>www.example.com</span>
                    </li>
                  </ul>
                </div><!-- .address -->
              </div><!-- .footer-widgets -->
            </div><!-- .col-md-3 -->
            <div class="col-md-3 col-sm-6">
              <div class="footer-widgets">
                <div class="widgets-title">
                  <h4>Latest News</h4>
                </div><!-- .widgets-title -->
                <ul class="latest-news">
                  <li>
                    <span class="thumbnail-img">
                      <img src="assets/images/posts/small-post-01.jpg" alt="small-bog-img-1" class="img-responsive" />
                    </span>
                    <div class="thumbnail-content">
                      <h5><a href="blog_single.html">Software Secure Solutions...</a></h5>
                      <span class="post-date">04 June 2017</span>
                    </div><!-- .thumbnail-content -->
                  </li>
                  <li>
                    <span class="thumbnail-img">
                      <img src="assets/images/posts/small-post-02.jpg" alt="small-bog-img-2" class="img-responsive" />
                    </span>
                    <div class="thumbnail-content">
                      <h5><a href="blog_single.html">Students | Heriot-Watt University...</a></h5>
                      <span class="post-date">28 june 2017</span>
                    </div><!-- .thumbnail-content -->
                  </li>
                  <li>
                    <span class="thumbnail-img">
                      <img src="assets/images/posts/small-post-03.jpg" alt="small-bog-img-3" class="img-responsive" />
                    </span>
                    <div class="thumbnail-content">
                      <h5><a href="blog_single.html">Lonely Student Being Bullied By...</a></h5>
                      <span class="post-date">03 July 2017</span>
                    </div><!-- .thumbnail-content -->
                  </li>
                </ul>
              </div><!-- .footer-widgets -->
            </div><!-- .col-md-3 -->
            <div class="col-md-3 col-sm-6">
              <div class="footer-widgets useful-link-widget">
                <div class="widgets-title">
                  <h4>USEFUL LINKS</h4>
                </div>
                <div class="useful-link-list">
                  <ul class="list-unstyled">
                    <li><i class="fa fa-angle-right"></i><a href="#">Teachers</a></li>
                    <li><i class="fa fa-angle-right"></i><a href="#">Courses</a></li>
                    <li><i class="fa fa-angle-right"></i><a href="#">Support</a></li>
                    <li><i class="fa fa-angle-right"></i><a href="#">Why Edugate</a></li>
                    <li><i class="fa fa-angle-right"></i><a href="#">Social Media</a></li>
                    <li><i class="fa fa-angle-right"></i><a href="#">Site Map</a></li>
                  </ul>
                </div>
              </div><!-- .footer-widgets -->
            </div><!-- .col-md-3 -->
            <div class="col-md-3 col-sm-6">
              <div class="footer-widgets">
                <div class="widgets-title">
                  <h4>Recent Photos</h4>
                </div><!-- .widgets-title -->
                <div class="footer-instagram">
                  <a href="#"><img src="assets/images/instagram/instagram-01.jpg" alt="footer-instagram-img-1" /></a>
                  <a href="#"><img src="assets/images/instagram/instagram-02.jpg" alt="footer-instagram-img-2" /></a>
                  <a href="#"><img src="assets/images/instagram/instagram-03.jpg" alt="footer-instagram-img-3" /></a>
                  <a href="#"><img src="assets/images/instagram/instagram-04.jpg" alt="footer-instagram-img-4" /></a>
                  <a href="#"><img src="assets/images/instagram/instagram-05.jpg" alt="footer-instagram-img-5" /></a>
                  <a href="#"><img src="assets/images/instagram/instagram-06.jpg" alt="footer-instagram-img-6" /></a>
                  <a href="#"><img src="assets/images/instagram/instagram-07.jpg" alt="footer-instagram-img-7" /></a>
                  <a href="#"><img src="assets/images/instagram/instagram-08.jpg" alt="footer-instagram-img-8" /></a>
                  <a href="#"><img src="assets/images/instagram/instagram-09.jpg" alt="footer-instagram-img-9" /></a>
                </div><!-- .footer-instagram -->
              </div><!-- .footer-widgets -->
            </div><!-- .col-md-3 -->
          </div><!-- .row -->
        </div><!-- .footer-top -->
      </div><!-- .row -->
    </div><!-- .container -->
  </div><!-- .bg-footer-top -->

  <div class="bg-footer-bottom">
    <div class="container">
      <div class="row">
        <div class="footer-bottom">
          <div class="copyright-txt">
            <p>Copyright © course 2017. All rights reserved. </p>
          </div><!-- .copyright-txt -->
          <div class="social-box">
            <ul class="social-icon-rounded">
              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-google" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
            </ul>
          </div><!-- .social-box -->

        </div><!-- .footer-bottom -->
      </div><!-- .row -->
    </div><!-- .container -->
  </div><!-- .bg-footer-bottom -->

</footer>
<!-- End Footer Section -->

<!-- Start Scrolling -->
<div class="scroll-img"><i class="fa fa-angle-up" aria-hidden="true"></i></div>
