<!-- End Pre-Loader -->

<!-- Start Header Section -->
<header class="header">
    <!-- Start Header Top -->
    <div class="bg-header-top">
      <div class="container">
        <div class="row">
          <div class="header-top">
            <ul class="header-contact">
              <li><i class="fa fa-phone"></i> Phone : +88017 923 970 659</li>
              <li><i class="fa fa-clock-o"></i> Time :  Monday-Friday : 9:00am-6:00pm</li>
            </ul>
            
          <div class="log-reg">
              <a routerLink="/login">Log Out</a> 
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Header Top -->
  
    <!-- Start Menu -->
    <div class="bg-main-menu menu-scroll">
      <div class="container">
        <div class="row">
          <div class="main-menu">
            <a class="show-res-logo" routerLink="/home"><img src="assets/images/logo.png" alt="logo" class="img-responsive" /></a>
            <nav class="navbar">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" routerLink="/home"><img src="assets/images/logo.png" alt="logo" class="img-responsive" /></a>
              </div>
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                  <li><a routerLink="/home">Home</a></li>
                  <li><a routerLink="/about">About</a></li>
                  <li >
                    <a routerLink="/service" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services </a>
                    
                  </li>
                  <li>
                    <a routerLink="/course" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Course </a>
                    
                  <li >
                    <a routerLink="/newsfeed" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Newsfeed</a>
                   
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Events <span class="caret"></span></a>
                    <ul class="dropdown-menu sub-menu">
                      <li><a routerLink="/event"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Events</a></li>
                      <li><a routerLink="/seminar"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Seminar Video</a></li>
                    </ul>
                  </li>
                  <li>
                    <a routerLink="/feedback" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Feedback </a>
                    
                  </li>
                  <li><a routerLink="/gallary">Gallery</a></li>
                <!--  <li><a href="contact.html">Contact Us</a></li>-->
                </ul>
                <div class="menu-right-option pull-right">
                  <div class="search-box">
                    <i class="fa fa-search first_click" aria-hidden="true" style="display: block;"></i>
                    <i class="fa fa-times second_click" aria-hidden="true" style="display: none;"></i>
                  </div>
                  <div class="search-box-text">
                    <form action="#">
                      <input type="text" name="search" id="all-search" placeholder="Search Here">
                    </form>
                  </div>
                </div>
              </div>
            </nav>
          </div><!-- .main-menu -->
        </div><!-- .row -->
      </div><!-- .container -->
    </div>
    <!-- End Menu -->
  </header>
  <!-- End Header Section -->
  
  